<phpunit colors="true" failOnRisky="true">
    <filter>
        <whitelist>
            <directory>../*</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Full unit test suite">
            <directory>../tests/*</directory>
        </testsuite>
    </testsuites>

</phpunit>
